<nav class="navbar navbar-expand-lg bg-black">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!--Logo-->
        <li class="nav-item ms-2 me-4">
          <img src="../assets/AngularJS-Shield.svg" alt="" width="40px" height="40px">
        </li>

          <!--Home-->
        <li class="nav-item">
          <a class="nav-link text-light" aria-current="page" routerLink="home">Home</a>
        </li>

        <!--Insertar-->
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="insertar">Insertar</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>